// ---------------------- VARIABLES ----------------------
// -------------------- GENERAL STYLE --------------------
// IMPORT FONT

html,
body {
    background-attachment: fixed;
    background-image: url('../img/Banckground.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'MedievalSharp', cursive;
    margin: 0;
    padding: 0;
}

div:target {
    padding-top: 7em;
    margin-top: -7em;
}

//NAVBAR
/* Start General */

.navbar ul li a {
    color: #FFF;
    text-decoration: none;
}

.nav-icons {
    display: none;
    height: 20px;
    width: 20px;
    margin: 0px 15px;
}

/* End General */

/* Start Navbar */

.navbar {
    background-image: url("../img/fond_nav_ordinateur.png");
    background-position-y: 50%;
    background-size: cover;
    height: 100px;
    position: sticky;
    top: 0;
    width: 100%;
}

ul li:nth-child(1) {
    font-size: 3.438em;
}

ul li:nth-child(n+2) {
    float: right;
}

// Button - Menu burger
ul li:nth-child(6) {
    display: none;
}

.navbar ul {
    background-color: rgba(112, 105, 105, 0.76);
    margin: 0;
    height: 100%;
    line-height: 75px;
}

.navbar ul>li {
    padding: 15px;
    display: inline-block;
    margin-left: -5px;
}

.navbar ul>li:last-of-type {
    float: right;
}

/* End Navbar */

/* Start Menue Right */

.navbar ul>li:last-of-type {
    position: relative;
    display: none
}

.navbar ul>ol {
    position: absolute;
    top: 49px;
    right: 0;
    background: #333;
    text-align: center;
    list-style: none;
    display: none
}

.navbar ul>ol>li {
    width: 100vw;
    color: #FFF;
    margin: 0;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: all .3s ease;
}

.navbar ul input {
    opacity: .7;
    padding: 5px;
    float: right;
    display: none
}

.main-container {
    background-color: rgba(174, 136, 94, 0.6);
    margin: 100px auto;
    max-width: 1440px;
    padding: 20px 30px 100px 30px;
    width: 75%;
}

// TITLE SECTION
h1 {
    display: inline;
    font-size: 4.375em;
    text-align: center;
}

h2 {
    font-size: 3.125em;
}

p {
    font-size: 2em;
    margin: 0px;
    text-align: justify;
}

// Button - RETURN TO TOP
#myBtn {
    background-color: rgba(174, 136, 94, 0.6);
    border: none;
    border-radius: 4px;
    bottom: 20px;
    cursor: pointer;
    display: none;
    font-size: 18px;
    outline: none;
    position: fixed;
    padding: 15px;
    right: 30px;
    z-index: 99;
}

#myBtn:hover {
    background-color: rgba(177, 114, 42, 0.7);
    ;
}

#myBtn img {
    height: auto;
    width: 55px;
}

// TITLE AREA 
.title_area {
    flex-wrap: wrap;
    margin-top: 50px;
    text-align: center;
    width: 100%;
}

li {
    font-size: 2em;
    list-style-type: none;
}

img.icons_title {
    height: 78px;
    margin: 0px 25px;
    width: 78px;
}

// -------------------- SPECIAL STYLE --------------------
// TABLE GAME
.container_main_jdt {
    display: flex;
}

.container-left-jdt {
    width: 60%;
}

.container-right-jdt {
    width: 40%;
}

.img_jdt {
    height: auto;
    width: 80%;
}

.p-padding {
    padding-right: 30px;
}

// ONLINEGAME
.container_main_Jel {
    display: flex;
}

.container_left_Jel {
    width: 45%;
    text-align: center;
}

.container_right_Jel {
    width: 55%;
}

.image_jel {
    height: auto;
    width: 80%;
    border-radius: 200px;
    margin-top: 20%;
}

// THEATRAL
.img_theatral_game {
    display: block;
    height: auto;
    margin: 0 auto;
    margin-top: 40px;
    width: 77%;
}

// -------------------- START - MEDIA QUERIES --------------------
@media screen and (min-width: 975px) {
    .icon_responsive {
        display: none;
    }
}
@media screen and (max-width: 1199px) {
    ul li:nth-child(1) {
        font-size: 2.313em;
    }
    ul li:nth-child(n+2) {
        font-size: 1.688em;
    }
    
    img.icons_title {
        height: 50px;
        margin: 0px 20px;
        width: 50px;
    }
    #myBtn img {
        height: auto;
        width: 45px;
    }
    h1 {
        font-size: 2.313em;
    }
    h2 {
        font-size: 1.688em;
    }
    p {
        font-size: 1.375em;
    }
    li {
        font-size: 1.375em;
    }
}

@media screen and (max-width: 975px) {
    .navbar {
        height: 80px;
    }
    .navbar ul {
        line-height: 50px;
    }
    .main-container {
        margin: 40px auto;
        padding: 5px 15px 50px 15px;
        width: 75%;
    }
    ul li:nth-child(1) {
        font-size: 2.313em;
    }
    ul li:nth-child(n+2) {
        font-size: 2.313em;
    }
    ul li:nth-child(n+2) {
        display: none;
    }

    .icon_responsive {
        margin: 15px 0px 0px 0px;
        float: right;
    }

    .burger2 {
        display: none;
    }
    
    .responsive {
        ul li:nth-child(n+2){
            display: block;
            width: 100%;
            padding-left: 25px;
            text-align: center;
            background-color: rgba(112, 105, 105, 0.76);
        }
        .burger2 {
            display: block;
        }
        .burger1 { 
            display: none;
        }
        .nav-icons {
            display: inline;
        }
    }

    .icons_burger {
        height: 40px;
        margin: 0px 15px;
        width: 40px;        
        float: right;
    }

    img.icons_title {
        height: 40px;
        width: 40px;
    }
    #myBtn img {
        height: auto;
        width: 40px;
    }
    h1 {
        font-size: 2.313em;
    }
    h2 {
        font-size: 1.688em;
    }
    p {
        font-size: 1.375em;
    }
    li {
        font-size: 1.375em;
    }
}

@media screen and (max-width: 680px) {
    .main-container {
        margin: 30px auto;
        padding: 5px 15px 50px 15px;
        width: 75%;
    } // NAVBAR
    .navbar {
        height: 60px;
    }
    .navbar ul {
        line-height: 30px;
    }
    nav ul>li:not(:first-child) {
        display: none;
    }


    .burger2 {
        display: none;
    }

    .responsive {
        ul li:nth-child(n+2){
            background-color: rgba(112, 105, 105, 0.76);
            display: block;
            font-size: 2em;
            padding-left: 25px;
            text-align: center;
            width: 100%;
        }
        .burger2 {
            display: block;
        }
        .burger1 { 
            display: none;
        }
        .nav-icons {
            display: inline;
        }
    }

    nav ul > li:last-of-type {
      display: block
    }
    nav ul input {
        display: inline
    }
    img.icons_title {
        height: 30px;
        margin: 0px 10px;
        width: 30px;
    } // RETURN TOP BUTTON
    #myBtn img {
        height: auto;
        width: 34px;
    } // GENERAL STYLE
    h1 {
        font-size: 1.60em;
    }
    h2 {
        font-size: 1.43em;
    }
    p {
        font-size: 1.125em;
    }
    li {
        font-size: 1.125em;
    } // TABLE GAME
    .container-left-jdt {
        width: 70%;
    }
    .container-right-jdt {
        width: 30%;
    }
    .p-padding {
        padding-right: 10px;
    }
    .img_jdt {
        height: auto;
        width: 100%;
    } // ONLINEGAME
    .container_main_Jel {
        display: flex;
        flex-direction: column-reverse;
    }
    .container_left_Jel {
        width: 100%;
        text-align: center;
    }
    .container_right_Jel {
        width: 100%;
    }
    .image_jel {
        height: auto;
        width: 60%;
        border-radius: 200px;
        margin-top: 10%;
    } // THEATRAL
    .img_theatral_game {
        height: auto;
        margin-top: 30px;
        width: 90%;
    }
}

// -------------------- END - MEDIA QUERIES --------------------